p {
    background-color: purple;
    text-align: center;
    color: greenyellow;
}

 #p1{
    background-color: black;
    text-align: center;
    color: red;
}

    div{
    
    width: 60px;
    height: 100px;
    background-color: indianred;
    }

    h1{
        background-color: black;
        text-align: center;
        color: aquamarine;

    }

